
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Oxygen&family=Titillium+Web&display=swap');

*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    list-style: none;
 

}
a.nav-link{
  color: #5E546E;

}
li.nav-item{
  
  padding: 0px 12px;
}

nav.navbar.navbar-expand-lg {
  padding: 5px 15px ;
  text-decoration: none;
  /* background-image: linear-gradient(to left, #e9defa 0%, #fbfcdb 100%); */
  background-color: #d5d5e8;
  color: #000000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header h1{
  margin:0px 0px 0px 5px;
  font-size: 24px;
  color: #5e546c;
  
}

header .navbar-brand:hover {
  color: #2b203a;
  cursor: pointer;
}

.navbar-nav {
  list-style-type: none;

  display: flex;
  flex-direction: row;
}

li.nav-item {
  color: #5e546c;
  text-decoration: none;
 
  font-size: 20px;
}

.navlink:hover {
  color: #2b203a;
}

body{
   background-color: #f3f5f9;
   height: 100%;
}

section{
    display: grid;
    grid-template-rows: 1fr auto;
  min-height: 100vh;
  grid-row: 1;
}

.sidebar{
    margin-left: 5px;
    position: relative;
}

.wrapper{
  display: flex;
  position: relative;
}

.link-button{
  background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
}

.wrapper .header{
  width: 100%;
}

.wrapper .sidebar{
  height: 100%;
  background: #4b4276;

  position: relative;
}

.wrapper .sidebar h2{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}    

.wrapper .sidebar ul li a{
  color: #bdb8d7;
  display: block;
  text-decoration: none;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
  background-color: #594f8d;
}
    
.wrapper .sidebar ul li:hover a{
  color: #fff;
}
 
.wrapper .sidebar .social_media{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.wrapper .sidebar .social_media a{
  display: block;
  width: 40px;
  background: #594f8d;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #bdb8d7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}


.wrapper .main_content .header{
  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info{
  margin: 20px;
  color: #717171;
  line-height: 25px;
}

.wrapper .main_content .info div{
  margin-bottom: 20px;
}
h1{
    font-weight:bold;
 }
 .head1{
    text-align: center;
    font-weight: bold;
    background-color: #2a464742;
    padding: 15px 0px;
    margin: 5px 0px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
 }
 .subhead{
     text-decoration: underline;
 }
 em {
   font-style: italic;
 
 }
 footer#footer {
  height: auto;
  width: 100%;
  padding:  20px ;
  color: #5e546c;
  background-color: #d5d5e8;
  font-size: 17px;
  text-align: center;
}
h4{
  font-size: 1.17em;
  margin-bottom: 3px;
}
p{
  margin: 5px 0px 0px;
}
a{
  color: #0000EE;
}

footer .mail a:hover {
  color: #000403;
}
 .intro{
     text-align: center;
     padding: 20px 5px;
 }
 #testimonials {
     background-color:white;
     padding: 100px;
   }
   .container-fluid{
     display: flex;
     justify-content: space-evenly;
   }
   .testimonial-image{
     width: 30%;
     border-radius: 10%;
   }
   .navbar{
     background-color:#d5d5e8;
     
   }
   .navlink{
      padding-right: 15px;
   }
   .navbar-brand{
      padding-left: 15px;
   }
   .nav-item{
    padding: 0px 10px;
   }

  .head2{
   margin-top: 20px;
    height: 70px;
    text-align: center;
  }
  
  button.link-button{
    text-align: left;
    font-size: 20px;
  }
 .nav-item.active{
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6;
  }
  .subpanel{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }
 .sidepanel.active{
  background-color: #1d0c6a;
  color: #dee2e6;
  border-color: #080222;
 }
 .btn-secondary{
  background-color: #72b7fb;
  --bs-btn-active-bg: #72b7fb;
  --bs-btn-hover-bg: #4199f0;
 }
 .dropdown{
  margin: 5px;
 }
 table{
  border-collapse: collapse;
  width: 100%;
 }
 th,td{
  border: 1px solid black;
  padding: 5px;

 }
 .info_body{
  margin: 10px;
  height: max-content;width: max-content;
 }